<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>依斯倍物料匹配工具</title>
    <link rel="icon" href="/img/favicon.ico">
    <script type="text/javascript" src="/js/plugins/login.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <link rel="stylesheet" type="text/css" href="/css/plugins/all.min.css" />
    <div th:include="common/head :: head"></div>
</head>
<body class="min-h-screen flex items-center justify-center p-4">
<div id="vue" class="login-container bg-white rounded-xl p-8 w-full max-w-md relative overflow-hidden">
    <!-- 水波纹装饰效果 -->
    <div class="absolute -top-20 -right-20 w-40 h-40 rounded-full bg-blue-50 opacity-30"></div>
    <div class="absolute -bottom-20 -left-20 w-40 h-40 rounded-full bg-blue-50 opacity-30"></div>

    <!-- Logo区域 -->
    <div class="flex flex-col items-center mb-8">
        <div class="text-5xl water-icon mb-2">
            <img style="width: 50px; display: inline-block; margin-top: -5px" src="/img/cps.png"    >
        </div>
        <h1 class="text-2xl font-bold text-gray-800">依斯倍物料匹配工具</h1>
        <p class="text-gray-500 mt-1">CPS Material Matching Tool</p>
    </div>

    <el-form :model="form" ref="form" :rules="rules" status-icon class="demo-ruleForm">
        <div class="login_input">用户名</div>
        <el-form-item label="" prop="username">
            <el-input placeholder="请输入用户名" v-model="form.username" ></el-input>
        </el-form-item>
        <div class="login_input">密码</div>
        <el-form-item label="" prop="password">
            <el-input placeholder="请输入密码" type="password" v-model="form.password" autocomplete="off"></el-input>
        </el-form-item>
        <el-button style="width: 100%" type="primary" @click="submitForm">登录</el-button>
    </el-form>

    <!-- 底部信息 -->
    <div class="mt-8 pt-5 border-t border-gray-200 text-center">
        <p class="text-xs text-gray-500">系统版本: v1.0.1</p>
        <p class="text-xs text-gray-500 mt-2"><i class="fas fa-shield-alt mr-1"></i>请保护您的账号信息</p>
    </div>
</div>

<!-- 创建当前页Vue对象 -->
<script th:inline="javascript">
    let item = new Vue({
        el: '#vue',
        data: {
            form: {
                username: '',
                password: '',
            },
            rules: {
                username: [{required: true, message: '请输入用户名', trigger: 'blur'}],
                password: [{required: true, message: '请输入密码', trigger: 'blur'}],
            },
        },
        methods: {
            // 提交表单
            submitForm() {
                this.$refs['form'].validate((valid) => {
                    if (valid) {
                        axios.post('/api/login', this.form)
                            .then(response => {
                                if(response.data.code == 200){
                                    this.$message.success("登录成功!");
                                    // 登录成功，设置 Cookie
                                    document.cookie = `login_flag=success_login; max-age=${3 * 24 * 60 * 60}; path=/`;
                                    // 登录成功后重定向到计划页
                                    window.location.href = '/';
                                }else {
                                    this.$message.error("登录失败，用户名或密码错误!");
                                }
                            })
                            .catch(error => {
                                this.$message.error("登录失败: " + error.message);
                            });
                    } else {
                        console.log('表单验证失败');
                        return false;
                    }
                });
            },
        },
    })
</script>
</body>
</html>